<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>This portal was developed by Gaurav Rai, as part of learning node js. It was a wornderful experience.</p>
            <img class="portrait" src="/images/banner2.jpg" alt="">
        </div>
        {{> footer }}
    </body>
</html>